<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/f141c7fb9d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card">
        <div class="logo home-logo">
            <h5>Chat App</h5>
        </div>
        <hr class="home-line">
        <div class="home-photo">
            <img src="/img/home.jpg" alt="Home">
        </div>
        <button class="signin">Sign in with Google</button>
    </div>
    <script>
        const signin=document.querySelector('.signin');
        signin.addEventListener('click',()=>{
            window.location.href='/google';
        })
    </script>
</body>
</html>